/*Lets target the elements using a universal selector*/
*{
  /*change the size of the elements at the same time*/
  font-size: 30px;
  font-family: "Times New Roman";
  color: black;
}


body{

  background-color: skyblue;
}

body > nav {
  background-color: white;
}

html{
  scroll-behavior: smooth;
}

/*lets use a hover pseud class on the anchor tags*/
a:hover {
  background-color: #b4b6be;
  text-transform: uppercase;
}

div{
  display: inline-block;
  float: right;


}

h1 {
  color: green;
  text-align: center;
  font-size: 2rem;
  font-family: 'Uchen',serif;
}

#landing {
  text-align: center;
  height: 100vh;
}

#register{
  text-align: center;
  height: 100vh;
}

ol {
  list-style-type: none;
}

#register form {
  background-color: white;
  border: 2px solid black;
  height: 185px;
  width: 25vw;
  position: relative;
  left: 37.25%;
}

#register form > button {
/*select any color you like*/
background-color: #cf0053;
color: white;
border: 5px;
border-radius: 15px;

}

/*ID Selector Method*/
#zuitt-motto {
  /*lets try to change the spacing*/
  letter-spacing: 15px;
}

/*#zuitt-tagline {
  letter-spacing: 25px;
} */

.offering-item {
  /*lets transform the text into a different text case*/
  text-transform: uppercase;
  color: yellow;
}
#item3 {
  color: red;
}

/*lets practive using the attribute selector*/
/*SYNTAX: tagname[attribute]*/
input[autocomplete="on"] {
  /*lets change the border apperance*/
  border-width: 5px;
  border-color: navy;
  border-style: dotted dashed;
  /*dotted, dashed, solid, double, groove, instet, outset, ridge, none, hidden*/
  /*tip this prop can have 1 -4 values*/
}

/*demo on step 17*/
/*DEMO of CSS specificity rule - specific*/
/*type selector*/
h3 {
  letter-spacing: 35px;
  color: green;
}

/*class selector*/
.tagline{
  letter-spacing: 15px;
  color: red;

}



.hover{
  color: yellow;

}


h3[class]{
  letter-spacing: 20px;
  color: navy;
}


/*id selector method*/
#tagline {
  color: orange !important;
}


/*class, pseudoclasses, attributes*/
/*attribute selector*/



/*lets accomplish task 22 and change the dimensions of the image*/

/*adjacent sibling selectors*/
/*adjacent = > next to or adjoining something else*/
/*syntax: selector + selector*/

h3 ~ section > img {
  /*change the dimensions of the image*/
  height: 300px;
  width: 300px;
  border-radius: 150px;
}

h3 + section #item1{
  color:red;
  text-transform: lowercase;
}

#tagline + img {
  height: 200px;
  width: 200px;
  border-radius: 240px;
}

/*descendant selector*//*descendants*/ 
/*syntax: selector (parent/ancestor) selector(child/decendant)*/

#bootcamp-learning-list li {
  /*we will assign a color using hexadecimal value*/
  color: #240015;
}

#register > h2 ~ a {
  text-decoration: none;
}


/*practice on child selector*/
body > #register > form > label {
  /*lets change the color of the text but using a different method*/
  color: rgb(0, 0, 128);
}


/*element:pseudo-class-name/value*/
/*this is an example of pseudoclass*/
/*pseudo-class is used to define a special state ofa an element*/

