/*Lets target the elements using a universal selector*/
*{
  /*change the size of the elements at the same time*/
  font-size: 30px;
  font-family: "Times New Roman";
}

h1 {
  color: green;
}

/*ID Selector Method*/
#zuitt-motto {
  /*lets try to change the spacing*/
  letter-spacing: 15px;
}

#zuitt-tagline {
  letter-spacing: 25px;
} 

.offering-item {
  /*lets transform the text into a different text case*/
  text-transform: uppercase;
  color: yellow;
}
#item3 {
  color: red;
}


/*lets practive using the attribute selector*/
/*SYNTAX: tagname[attribute]*/
input[autocomplete="on"] {
  /*lets change the border apperance*/
  border-width: 5px;
  border-color: navy;
  border-style: dotted dashed;
  /*dotted, dashed, solid, double, groove, instet, outset, ridge, none, hidden*/
  /*tip this prop can have 1 -4 values*/

}